$breakpoints: (
  "mobile": 767px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "⚠️ Warning: Breakpoint #{$size} not found in $breakpoints map.";
  }
}
