// Fonts
$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Roboto Serif", Georgia, "Times New Roman", serif;

$font-family-base: $font-family-serif;
$font-weight-base: normal;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: bold;
