@use "utils/breakpoints" as *;

.splash {
  position: relative;
  overflow: hidden;

  &__video-wrapper {
    position: relative;
    overflow: hidden;

    @include breakpoint("md") {
      height: 56vw;
    }

    @include breakpoint("xl") {
      height: 45vw;
    }
  }

  &__video {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 100%;

    @include breakpoint("md") {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__caption {
    background-color: #643a00;
    padding: 16px;

    @include breakpoint("md") {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(100, 58, 0, 0.5);
      text-align: center;
    }

    h1,
    p {
      color: #fff !important;
    }
  }
}
