@use "utils/breakpoints" as *;

.splash {
  position: relative;
  overflow: hidden;

  &__video-wrapper {
    position: relative;
    overflow: hidden;

    @include breakpoint("md") {
      height: 52vw;
    }
  }

  &__video {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 100%;

    @include breakpoint("md") {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__caption {
    background-color: $champagne-gold;
    padding: 16px;

    @include breakpoint("md") {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: rgba($champagne-gold, 0.7);
      text-align: center;
    }

    h1,
    p {
      color: #fff !important;
    }
  }
}

.location-banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include breakpoint("lg") {
    max-width: 900px;
    height: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
