@use "utils/breakpoints" as *;

.splash {
  position: relative;
  overflow: hidden;

  &__video-wrapper {
    position: relative;
    overflow: hidden;

    @include breakpoint("md") {
      height: 52vw;
    }
  }

  &__video {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 100%;

    @include breakpoint("md") {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__caption {
    background-color: $champagne-gold;
    padding: 16px;

    @include breakpoint("md") {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: rgba($champagne-gold, 0.7);
      text-align: center;
    }

    h1,
    p {
      color: #fff !important;
    }
  }

  &__scroll-down {
    display: none;

    @include breakpoint("lg") {
      display: block;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.7;
      transition: opacity 0.3s ease;
    }

    &:hover {
      opacity: 1;
    }

    .mouse {
      width: 26px;
      height: 42px;
      border: 2px solid $white;
      border-radius: 20px;
      margin-bottom: 6px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 6px;
        background-color: $white;
        border-radius: 2px;
        animation: scrollMouse 2s infinite;
      }
    }

    .arrow {
      span {
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
        margin: -3px auto;
        animation: scrollArrow 2s infinite;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
}

@keyframes scrollMouse {
  0% {
    top: 6px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}

@keyframes scrollArrow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.location-banner {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include breakpoint("lg") {
    max-width: 900px;
    height: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
