<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-sm-down">
    <div class="modal-content search-modal">
      <div class="modal-header search-modal__header">
        <h5 class="modal-title" id="searchModalLabel">
          <i class="bi bi-search me-2"></i>{{ i18n "searchTitle" }}
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body search-modal__body">
        <div id="search"></div>
      </div>
    </div>
  </div>
</div>
