{{ define "main" }}
<section class="splash">
  <div class="splash__video-wrapper">
    <video
      autoplay=""
      muted=""
      loop=""
      playsinline=""
      poster="{{ "images/hero-home-page-poster-mobile.jpg" | relURL }}"
      class="splash__video"
    >
      <source src="{{ "videos/hero-home.mp4" | relURL }}" type="video/mp4" />
    </video>
  </div>

  <div class="splash__caption">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <div class="content">{{ .Content }}</div>
    <div class="d-flex flex-column flex-md-row gap-3 mt-4">
      <a href="{{ "contact/" | relLangURL }}" class="cta-button btn btn-primary">{{ i18n "bookNow" }}</a>
      <a href="tel:+381665040583" class="cta-button btn btn-outline-light">{{ i18n "callUs" }}</a>
    </div>
  </div>

  <div class="splash__scroll-down">
    <div class="mouse"></div>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>
</section>
{{ end }}
